h1, h2 {
    color: #800000;
    text-align: center;
}

/* Main page background */
body {
    background-color: #9e8e6f;
    padding: 20px;
    border-radius: 8px;
}


/* Recipe scroll */
.recipe-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    text-align: center;
}

.recipe-scroll {
    width: 100%;
    height: 500px;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

/* Recipe cards */
.recipe-card {
    height: 500px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 40px;

    padding: 40px;

    background: #85663f;
    border-radius: 20px;

    scroll-snap-align: start;
}


/* Recipe images */
.recipe-card .column-img {
    flex: 1;
}

.recipe-card .column-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;

    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}


/* Image hover effect */
.recipe-card .column-img img:hover {
    transform: scale(1.05);
    opacity: 0.8;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


/* Recipe text */
.recipe-card .column-text {
    flex: 1;
}

.recipe-card .column-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.recipe-card .column-text p {
    font-size: 18px;
    line-height: 1.6;
}


/* Up and down arrows */
.scroll-arrow {
    display: block;
    margin: 8px auto;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}


/* Bottom gallery */
.bottom-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.bottom-gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}


/* Recipe page hero image */
.recipe-hero {
    width: 70%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}


/* Recipe page box */
.recipe-box {
    background-color: #85663f;
    max-width: 1400px;
    margin: 40px auto;
    padding: 80px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    /* Makes all text inside the box bigger */
    font-size: 1.3rem;
}


/* Summer pairings */
.pairing-list {
    font-size: 1.3rem;
    margin-left: 550px;
}